ykt_ecard/branch/ecard_gz/configuration/com/liferay/portal/resources/pramati-j2ee-server_3_0.dtd

<!--
Copyright 2000-2001 Pramati Technologies Private Ltd , # 301 White House,
Begumpet,HYDERABAD  5000016, INDIA.  All rights reserved.

This product or document is protected by copyright and distributed
under licenses restricting its use, copying, distribution, and
decompilation.  No part of this product or documentation may be
reproduced in any form by any means without prior written authorization
of Pramati and its licensors, if any.
-->
<!--
This is the XML DTD for pramati-j2ee-server.xml. The xml must include
a DOCTYPE of the following form:
<!DOCTYPE pramati-j2ee-server PUBLIC '-//Pramati Technologies //DTD Pramati J2ee Server 3.0//EN' 'http://www.pramati.com/dtd/pramati-j2ee-server_3_0.dtd'>
-->
<!--
Element auto-start specifies whether the application, if prepared, should be started
on the server start time.Valid values are "TRUE" and "FALSE".
Used in:pramati-j2ee-server
-->
<!ELEMENT auto-start (#PCDATA)>

<!--
Element client-jar-path specifies the extraction location for the application-client.jar
Used in:pramati-j2ee-server
-->
<!ELEMENT client-jar-path (#PCDATA)>

<!--
This element represents the external connection factory that is used in mapping
Message Driven bean destinations
Example:<conn-factory>myConnFactory<conn-factory>
myConnFactory is the name of the connection factory on the external JMS Server

Used in:destination-mapping
-->
<!ELEMENT conn-factory (#PCDATA)>
<!--
The description element is used to provide text describing the parent
element
-->
<!ELEMENT description (#PCDATA)>
<!--
This element represents the external destination(queue/topic)that is used in mapping
Message Driven bean destinations
Example:<destination-link>myQueue<destination-link>
myQueue is the name of the destination on the external JMS Server

Used in:destination-mapping
-->
<!ELEMENT destination-link (#PCDATA)>
<!--
This element provides the external mapping information related
to the external JMS server for MessageDrivenBean destinations

Used in:ejb
-->
<!ELEMENT destination-mapping (destination-link, conn-factory, destination-user-name?, destination-password?)>
<!--
This tag represents the password used to create the JMS connection for this MDB. If tag is
absent, null password is used.
Used in:destination-mapping
-->
<!ELEMENT destination-password (#PCDATA)>
<!--
This tag represents the user name used to create the JMS connection for this MDB. If tag is
absent, null user name is used.
Used in:destination-mapping
-->
<!ELEMENT destination-user-name (#PCDATA)>
<!--
This element represents an EJB inside a deployable ejb module
for an application.Contains information for its creation and maintenance
like pool sizes,jndi-name - by which the server identifies the bean and so on.

Used in:ejb-module
-->
<!ELEMENT ejb (name, max-pool-size?, min-pool-size?, low-activity-interval?, is-secure?, is-clustered?, jndi-name?, query-mapping*, session-timeout?, ejb-ref*, ejb-local-ref*, resource-mapping*, resource-env-ref*, server-session?, thread-pool?, destination-mapping?, run-as-principal?, persistant-methods?)>
<!-- ejb-link element is ejb jndi name or ejb local name based on whether it is ejb-ref or ejb-local-ref.
Used in : ejb-local-ref, ejb-ref
-->
<!ELEMENT ejb-link (#PCDATA)>
<!--
This element represents a ejb-local-ref for the EJB

Used in:ejb,web-module
-->
<!ELEMENT ejb-local-ref (ejb-ref-name, ejb-link)>
<!--
This element contains the information for an ejb-module for the application
This module contains related information for the ejb components mostly related to
the mapping information for them.

Used in:pramati-j2ee-server
-->
<!ELEMENT ejb-module (name, ejb+)>
<!--
This element represents a ejb-local-ref for an EJB/web module

Used in:ejb,web-module
-->
<!ELEMENT ejb-ref (ejb-ref-name, ejb-link)>
<!--
This element represents the name of the ejb reference

Used in:ejb-ref,ejb-local-ref
-->
<!ELEMENT ejb-ref-name (#PCDATA)>
<!--
This element specifies whether access to the bean methods is
secure or not

Used in:ejb
Valid Values :true,false
-->
<!ELEMENT is-secure (#PCDATA)>
<!--
This element specifies whether bean is clustered or not

Used in:ejb
Valid Values :true,false
-->
<!ELEMENT is-clustered (#PCDATA)>
<!--
This element represents the  name given to the EJB which
will be unique in the server name space

Used in:ejb
-->
<!ELEMENT jndi-name (#PCDATA)>
<!--
This element represents the low activity interval for the pools
used by the server

Used in:ejb
-->
<!ELEMENT low-activity-interval (#PCDATA)>
<!--
This element represents the maximimum messages for a
server session pool for a MessageDrivenBean

Used in:server-session
-->
<!ELEMENT max-messages (#PCDATA)>
<!--
This element represents the max pool size for the pools
used by the server

Used in:ejb,server-session,thread-pool
-->
<!ELEMENT max-pool-size (#PCDATA)>
<!-- represents the name of the finder method as read by loading the bean home class.
Used in : query-mapping
-->
<!ELEMENT method-name (#PCDATA)>
<!-- represents the name of the parameter of the finder method when used in query-mapping. It represents
the method signature in pramati specific format when used in persistant-methods. The format is
methodName:param1;param2;...  .  For parameters of type array, [] is used at the end of base class of the
array. e.g. java.lan.String[] for string array. an example of method name in persistant-methods is
        addItem:java.lang.String[];int[];String;
while in query-mapping it will be
	addItem  only.
Used in : query-mapping, persistant-methods
-->
<!ELEMENT method-param (#PCDATA)>
<!--
This element represents the min pool size for the pools
used for the EJB

Used in:ejb,server-session,thread-pool
-->
<!ELEMENT min-pool-size (#PCDATA)>
<!--
This element represents the name of the deployable module

Used in:ejb-module,web-module,role-mapping
-->
<!ELEMENT module-name (#PCDATA)>
<!--
The element name specifies the name of the conerned entity

Used in :ejb-module,web-module,ejb
-->
<!ELEMENT name (#PCDATA)>
<!-- persistant-methods element is used to store the information of the methods which affect the state of a stateful
session bean.
-->
<!ELEMENT persistant-methods (method-name*)>
<!--
The pramati-j2ee-server element is the root element of the pramati-j2ee-server
xml document. This encapsulates all the information required
for an application to be deployed on to Pramati Server.
as an example resource mapping information like mapping a resource onto
an actual resource on the server or mapping a security role onto an actual server role .
All this information is persisted in this file and is picked up along with the
application whenever Pramati Server uses this application
-->
<!ELEMENT pramati-j2ee-server (description?, vhost-name, auto-start?, client-jar-path?, realm-name?, (ejb-module | web-module)+, role-mapping*)>
<!-- query-mapping element appears if the ejb is an ejb1.1 bean. It is used to map the querie-name in the queries.props
to the finder method-name. It may also contain some method-param elements
Used in : ejb
-->
<!ELEMENT query-mapping (method-name, query-name, method-param*)>
<!-- represents the name of query which is present in the queries.props and have to be mapped to the
method-name in the query-mapping element.
Used in : query-mapping
-->
<!ELEMENT query-name (#PCDATA)>
<!--
This element specifies the security realm on which the application is deployed
the default realm is  'system'
Used in:pramati-j2ee-server
-->
<!ELEMENT realm-name (#PCDATA)>
<!--
This element gives the details for a resource env reference

Used in:ejb,web-module
-->
<!ELEMENT resource-env-ref (resource-env-ref-name, resource-env-ref-type?, resource-env-ref-link)>
<!--
This element specifies the link for the resource env ref declared

Used in:resource-env-ref
-->
<!ELEMENT resource-env-ref-link (#PCDATA)>
<!--
This element specifies the name for the resource env ref declared

Used in:resource-env-ref
-->
<!ELEMENT resource-env-ref-name (#PCDATA)>
<!--
This element specifies the type of the resource env ref declared

Used in:resource-mapping
-->
<!ELEMENT resource-env-ref-type (#PCDATA)>
<!--
This element specifies the resource link in the server
in the case of resource-mapping.This represents the
actual resource name in the server namespace

Used in:resource-mapping
-->
<!ELEMENT resource-link (#PCDATA)>
<!--
This element gives the details about the ejb resource mapping onto
a resource on the server specifying the name and type of the resource

Used in:ejb,web-module
-->
<!ELEMENT resource-mapping (resource-name, resource-type?, resource-link)>
<!--
This element gives the name of the resource used in resource mapping
for an EJB.this name is used in the application code.

Used in:resource-mapping
-->
<!ELEMENT resource-name (#PCDATA)>
<!--
This element specifies the type of the resource used in resource mapping

Used in:ejb
-->
<!ELEMENT resource-type (#PCDATA)>
<!--
This element specifies the actual role on the server to which the role in
the module maps on to

Used in:role-mapping
-->
<!ELEMENT role-link (#PCDATA)>
<!--
This element specifies the role mapping information for mapping
module level roles onto actual server roles

Used in:pramati-j2ee-server
-->
<!ELEMENT role-mapping (module-name, role-name, role-link)>
<!--
This element specifies the role name declared in the module which would
be mapped onto an actual role in the server

Used in:role-mapping
-->
<!ELEMENT role-name (#PCDATA)>
<!--
This element specifies the principal/identity that would be used to
invoke methods on the EJB

Used in:ejb
-->
<!ELEMENT run-as-principal (#PCDATA)>
<!--
This element specifies the server-session pool details for a MessageDrivenBean

Used in:ejb
-->
<!ELEMENT server-session (max-messages, min-pool-size, max-pool-size)>
<!-- session-timeout element is an optional element which appears if the ejb is
a stateful session bean.
Used in : ejb
-->
<!ELEMENT session-timeout (#PCDATA)>
<!--
This element specifies the details for the thread pool used for a MessageDrivenBean
for an EJB

Used in:ejb
-->
<!ELEMENT thread-pool (min-pool-size, max-pool-size)>
<!--
This element specifies the virtual host on which the application is deployed
Example:
  <vhost-name>www1.pramati.com</vhost-name>
by default 'default' is the value given and all applications are deployed using the same

Used in:pramati-j2ee-server
-->
<!ELEMENT vhost-name (#PCDATA)>
<!--
This element contains the information for a web-module for the application
This module contains related information for the web components.

Used in:pramati-j2ee-server
-->
<!ELEMENT web-module (name, module-name, ejb-ref*, ejb-local-ref*, resource-mapping*, resource-env-ref*)>

<!ATTLIST  pramati-j2ee-server version CDATA #IMPLIED>

