ykt_checkatt/branch/trunk_V3/WebRoot/WEB-INF/security/acl-config.dtd

<!-- acl-config element -->
<!ELEMENT acl-config ( ProtectedResource+ ) >

<!-- ProtectedResource element -->
<!ELEMENT ProtectedResource (code, name, url ) >

<!-- ProtectedResource children -->
<!ELEMENT code ( #PCDATA ) >
<!ELEMENT name ( #PCDATA ) >
<!ELEMENT url ( #PCDATA ) >

<!ATTLIST acl-config id  CDATA #REQUIRED >
<!ATTLIST ProtectedResource id  CDATA #REQUIRED >